@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
padding: 0;
background: hsl(0, 0%, 100%);
  font-family:'Kumbh Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Kumbh Sans';
}
